# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external drives
.Spotlight-V100
.Trashes

# macOS system logs
.DocumentRevisions-V100
.fseventsd

# Volume configuration
.VolumeIcon.icns

# Time Machine
.TemporaryItems
.apdisk

